<nav class="navbar member-navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= image_tag("logo2.png", :alt => "Logo", :class => "img-responsive logo2") %></a>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="#" data-toggle="modal" data-target="#myModal">login</a></li> -->
        <% if logged_in? %>

          <li>
            <%= link_to 'Logout', logout_path, method: :delete, :class => 'btn btn-default logout-btn'%>
          </li>

        <% else %>
          <li>
            <a href="#" data-toggle="modal" data-target="#myModal">login</a>
          </li>
          <li >
            <%= link_to 'Sign Up', new_user_path, :method => :get, :class => 'btn btn-default signup-btn'%>
          </li>

        <% end %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>





<!-- Fullscreen Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container">
              <div class="row">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                     <h4 class="modal-title" id="myModalLabel">Modal title</h4>

                </div>
                <div class="col-sm-6 col-sm-offset-3">
                  <div class="modal-body">
                    <div class="login-header">
                      <h3 class="login-title">User login</h3>
                    </div>
                    <div class="login-box">

                      <%= form_for @user, url: "/sessions", method: "post" do |f| %>
                        <div class="form-group user-username">
                          <%= f.label :email, "Email address" %>
                          <%= f.text_field :email, placeholder: "Enter email", :class => "form-control" %>
                        </div>

                        <div class="form-group user-password">
                          <%= f.label :email, "Password" %>
                          <%= f.password_field :password, placeholder: "Enter Password", :class => "form-control" %>
                        </div>

                        <div class="form-group user-buttons">
                          <%= f.submit "Login", :class => "btn btn-success btn-login-submit" %>
                          <button type="submit" class="btn btn-default btn-login-action">Cancel</button>
                        </div>

                      <% end %>



                    </div>
                  </div>
                </div>

              </div>
            </div>
        </div>
    </div>
</div>
