<div class="container post2_container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
          <h2 class="tex-left"><%= @post.title %></h2>
          <p class="author_title">author: <%= @post.user.first_name %> <%= @user.last_name %>  |  date: <%= @post.created_at.strftime("%d %b %Y") %></p>
          <p><%= @post.description %></p>
          <%= button_to 'Profile', user_path(@user), :method => :get, :class => "btn btn-default"%>
      </div>
    </div>
</div> 




